@use '../../styles/partials/global.scss' as *;

.completed {
    &__header-container {
        padding: 1.25rem 1rem;
    }

    &__header {
        @include page-header;
    }

    &__subheader {
        @include subheader;
        margin-top: 1rem;
    }

    &__itinerary-container {
        margin: 1rem 1.5rem;
        @include flex-column;
    }

    &__buttons {
        padding: 1.25rem 1rem;
        @include flex-column;
        align-items: center;
    }

    &__home {
        @include links-buttons;
        width: 50%;
        height: 2.5rem;
        padding: 0 1rem;
        background-color: $button-grey;
        color: $text-blue;
        border: 1px solid $text-grey;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__home:hover {
        background-color: $background-blue;
        color: $text-grey;
    }

    &__back {
        @include links-buttons;
        width: 50%;
        height: 2.5rem;
        margin-bottom: 1rem;
        padding: 0 1rem;
        background-color: $button-grey;
        color: $text-red;
        border: 1px solid $background-red;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__back:hover {
        background-color: $background-red;
        color: $text-grey;
        border: 1px solid $text-grey;
    }
}

.itin {
    &__pit-stop {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border-left: 2px solid $text-grey;
        position: relative;
        padding-bottom: 2rem;
    }

    &__final-dest {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: relative;
        margin-left: 2px;
    }

    &__dest-point {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        border: 1px solid $text-grey;
        background-color: $background-blue;
        position: absolute;
        top: 0;
        left: -8px;

        &--final {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 1px solid $text-grey;
            background-color: $background-red;
            position: absolute;
            top: 0;
            left: -11px;
        }
    }

    &__content {
        margin-left: 1.5rem;
        position: relative;
    }

    &__header {
        font-size: 0.9375rem;
        margin-bottom: 0.25rem
    }

    &__subheader {
        @include body-med;
    }

    &__info {
        @include body-med;

        &--sm {
            font-size: 12px;
            line-height: 1.25rem;
            margin-top: 0.25rem;
        }
    }

    &__image {
        width: 100%;
        border: 2px solid $text-grey;
        border-radius: 10px;
        margin: 0.5rem 0;
    }
}