@font-face {
    font-family: 'Raleway';
    src: url(../../assets/fonts/Raleway/Raleway-Regular.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: 'Raleway';
    src: url(../../assets/fonts/Raleway/Raleway-SemiBold.ttf) format(truetype);
    font-weight: 600;
}
@font-face {
    font-family: 'Raleway';
    src: url(../../assets/fonts/Raleway/Raleway-Bold.ttf) format(truetype);
    font-weight: 700;
}
@font-face {
    font-family: 'Raleway';
    src: url(../../assets/fonts/Raleway/Raleway-ExtraBold.ttf) format(truetype);
    font-weight: 800;
}