$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$background-blue: #002F66;
$background-grey: #333333;
$background-red: #660030;

$text-blue: #040066;
$text-grey: #EEEEEE;
$text-red: #510026;
$button-grey: #8C8C8C;