@use '../../styles/partials/global.scss' as *;

.form {
    &__header-container {
        padding: 1.25rem 1rem;
    }

    &__header {
        @include page-header;
    }

    &__subheader {
        @include subheader;
        margin-top: 1rem;
    }

    &__container {
        padding: 1.25rem 1rem;
    }

    &__venue-container {
        @include flex-column;
        margin-bottom: 1rem;
    }

    &__submit {
        @include links-buttons;
        width: 50%;
        height: 2.5rem;
        padding: 0 1rem;
        background-color: $button-grey;
        color: $text-blue;
        border: 1px solid $text-grey;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__submit:hover {
        background-color: $background-blue;
        color: $text-grey;
    }
}

.venue-list {
    &__drop-down {
        width: 100%;
        height: 2rem;
        display: block;
    }
}

.date-picker {
    &__container {
        margin-bottom: 1rem;
    }

    &__widget-container {
        width: 100%;
    }

    &__widget {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 2rem;
        
    }
}

.react-datepicker-wrapper {
    flex-grow: 1;
    width: 100%;
    height: 2rem;
}

.time-picker {
    &__container {
        margin-bottom: 1rem;
    }

    &__widget {
        width: 100%;

        .react-time-picker__inputGroup__input {
            width: 80%;
        }

        .react-time-picker__inputGroup__amPm {
            width: 20%;
            text-align: center;
        }
    }
}

.radio-group {
    &__parking-container {
        margin-bottom: 1rem;
    }

    &__restaurant-container {
        margin-bottom: 1rem;
    }

    &__price-container {
        margin-bottom: 1rem;
    }
}