@use '../../styles/partials/global.scss' as *;

.form {
    &__header-container {
        padding: 1.25rem 1rem;
    }

    &__header {
        @include page-header;
    }

    &__subheader {
        @include subheader;
        margin-top: 1rem;
    }

    &__container {
        padding: 1.25rem 1rem;
    }

    &__venue-container {
        @include flex-column;
        margin-bottom: 1rem;
    }
}

.venue-list {
    &__drop-down {
        width: 100%;
        height: 2rem;
        display: block;
    }
}

.date-picker {
    // &__container {
    //     display: flex;
    // }

    &__widget-container {
        width: 100%;
    }

    &__widget {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 2rem;
        
        .react-datepicker-wrapper {
            flex: 1;
            width: 100%;
            height: 2rem;
        }
    }
}