@use '../../styles/partials/global.scss' as *;

.form {
    &__header-container {
        padding: 1.25rem 1rem;

        @include desktop {
            padding: 2rem 36rem 2rem 43rem;
        }
    }

    &__header {
        @include page-header;
    }

    &__subheader {
        @include subheader;
        margin-top: 1rem;
    }

    &__container {
        padding: 1.25rem 1rem;

        @include desktop {
            padding: 2rem 36rem 2rem 43rem;
        }
    }

    &__venue-container {
        @include flex-column;
        margin-bottom: 1rem;
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }

    &__submit {
        @include links-buttons;
        width: 50%;
        height: 2.5rem;
        padding: 0 1rem;
        background-color: $button-grey;
        color: $text-blue;
        border: 0.0625rem solid $text-grey;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include desktop {
            width: 30%;
            margin-top: 1rem;
        }
    }

    &__submit:hover {
        background-color: $background-blue;
        color: $text-grey;
    }

    &__success {
        @include flex-column;
        align-items: center;
    }

    &__success-copy {
        margin-bottom: 1rem;
    }
}

.venue-list {
    &__drop-down {
        width: 100%;
        height: 2.5rem;
        display: block;
        font-family: 'Raleway';
        font-weight: 600;
        border-radius: 0.5rem;
        margin: 1rem 0;
        padding-left: 0.5rem;
        @include body-med;
    }

    &__drop-down-option {
        font-weight: 600;
    }
}

.date-picker {
    &__container {
        margin-bottom: 2.5rem;
    }

    &__widget-container {
        width: 100%;
    }

    &__widget {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 2.5rem;
        font-family: 'Raleway';
        font-weight: 600;
        border-radius: 0.5rem;
        margin: 1rem 0;
        padding-left: 0.5rem;
        @include body-med;
    }
}

.react-datepicker-wrapper {
    flex-grow: 1;
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
}

.time-picker {
    &__container {
        margin-bottom: 1rem;
    }

    &__widget {
        width: 100%;

        .react-time-picker__wrapper {
            border: none;
        }

        .react-time-picker__button {
            position: absolute;
            right: 0;
            top: 1.375rem;
        }

        .react-time-picker__inputGroup {
            background-color: #FFF;
            height: 2.5rem;
            font-family: 'Raleway';
            font-weight: 600;
            border-radius: 0.5rem;
            margin: 1rem 0;
            padding-left: 0.5rem;

            &__input {
                width: 80%;
            }

            &__hour {
                color: black;
                font-family: 'Raleway';
                font-weight: 600;
                @include body-med;
            }

            &__hour::placeholder {
                color: black;
                font-family: 'Raleway';
                font-weight: 600;
            }

            &__divider {
                color: black;
                font-family: 'Raleway';
                font-weight: 800;
                @include body-med;
            }

            &__minute {
                @extend .react-time-picker__inputGroup__hour;
            }

            &__minute::placeholder {
                color: black;
                font-family: 'Raleway';
                font-weight: 600;
            }

            &__amPm {
                width: 20%;
                text-align: center;
                color: black;
                font-family: 'Raleway';
                font-weight: 600;
            }

            &__leadingZero {
                @extend .react-time-picker__inputGroup__hour;
            }
        }
    }
}

.radio-group {
    &__parking-container {
        margin-bottom: 1rem;
    }

    &__restaurant-container {
        margin-bottom: 1rem;
    }

    &__price-container {
        margin-bottom: 1rem;
    }

    &__two-options, &__three-options {
        margin: 1rem 0 2rem;
    }

    &__parking-yes, &__resto-yes, &__price-1 {
        margin-right: 0.5rem;
    }

    &__parking-no, &__resto-no {
        margin-left: 3.75rem;
        margin-right: 0.5rem;
    }

    &__price-2, &__price-3 {
        margin-left: 4.75rem;
        margin-right: 0.5rem;
    }
}
